body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    width: 1000px;
    
}

.rowDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.individualBox {
    display: flex;
    flex: 1;
    height: 100%;
    border-style: inset;
}